.sideNavDiv {
    width: 100%;
    /* background-color: darkslategray; */
    /* padding: 1.5% 1%; */
    height: 5%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.activeRooms {
    width: 25%;
    height: 100%;
    background-color: rgb(68, 49, 98);
    padding-left: 1%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: center;
}

.online-div {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: whitesmoke;
    color: rgb(68, 49, 98);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.online-icon {
    height: 100%;
    width: 25%
}

.current-room {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createRoomBtn {
    width: 25%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.createRoomInput {
    z-index: 1;
    width: 100%;
    height: 85%;
    padding-left: 2%;
}