.messagesOuterDiv {
    /* border: 1px solid green; */
    width: 100%;
    background-color: #E4E4E4;
    height: 90%;
    color: whitesmoke;
    padding: 2%;
    background-image: url('../icons/photo-of-multicolored-illustration-2832382.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.messageDiv {
    border-radius: 10px;
    padding: 1% 2%;
    /* background-color: whitesmoke; */
    /* color: #4E4E4E  */
    font-size: 20pt;
}

.outgoingMsgDiv {
    display: flex;
    justify-content: flex-start;
}

.outgoingMsg {
    background-color: #d8d8d8;
    color: rgba(68, 49, 98, 0.87);
    width: fit-content;
    border-radius: 5px;
}

.incomingMsgDiv {
    display: flex;
    justify-content: flex-end;
}

.incomingMsg {
    background-color: rgba(68, 49, 98, 0.87);
    color: #d8d8d8;
    width: fit-content;
    border-radius: 5px;
}

.adminMsgDiv {
    display: flex;
    justify-content: center;
}

.adminMsg{
    font-size: 12pt;
    font-style: italic;
    width: fit-content;
    color: #d8d8d8;
    border-radius: 5px;
}