.messagesOuterDiv {
    /* border: 1px solid green; */
    width: 100%;
    background-color: #E4E4E4;
    height: 90%;
    color: whitesmoke;
    padding: 2%;
}

.messageDiv {
    border-radius: 10px;
    padding: 1% 2%;
    /* background-color: whitesmoke; */
    /* color: #4E4E4E  */
    font-size: 20pt;
}

.outgoingMsg {
    background-color: #4A6EC1;
    color: whitesmoke;
    margin: 0 auto 0 0;
    width: fit-content;
}

.incomingMsg {
    background-color: #4ac162;
    color: whitesmoke;
    width: fit-content;
    margin: 0 0 auto 0;;
}

.adminMsg{
    font-size: 12pt;
    font-style: italic;
    width: fit-content;
    margin: 0 auto;
}